body{
	background-image: url('http://localhost/new/iscts/images/grey_wash_wall.png');
}
div.notifdisp{
	margin-top: 20px;
	height: 400px;
	padding-top: 20px;
	width:60%;
}
div.pagewrapper{
	margin-top: 2%;
	margin-left: 2%;
	width: 96%;
	height: auto;
	padding-top: 0.3%;
	padding-bottom: 6%;
	background-image: url('http://localhost/new/iscts/images/white_wall_hash.png');
	overflow:hidden;
}
div.header{
	height: 50px;
	width:100%;
	background-image: url('http://localhost/new/iscts/images/textured_paper.png');
	padding-top: 10px;
}
div.pageheader{
	/*border: 2px #A58C8C solid;*/
	position: relative;
	/*margin-left: 2.5%;*/
	padding: 0.0%;
	width: 100%;
	padding-top: 1.2%;
	float: center;
	background-image: url('http://localhost/new/iscts/images/textured_paper.png');
}
div.notifcontainer{
	padding-top: 30px;
	padding-left: 30px;
	width:100%;
}

  h5.name_ntc
  {
   color:#A31919;
   float:left; 
   font-family:anton; 
   text-align:left;
   font-size: 19px;
   padding:5px;
   margin:0px;
   padding-bottom:1px;
   color:#092256; 
   text-shadow: 0.05em 0.05em #333;
   }
  p.p_ntc
  {
   color:#005200;
   font-family: lucida grande;
   padding-top:2px: 
   padding:5px;
   padding-left: 20px;
   font-size: 16px;
   margin-left:15px;
   text-align:left;
  }
  div.block_public:hover
  {
  	background-color: #C3D0F3;
  }
  div.block_public
  {
  	border: 1px #666666 solid;
   -moz-box-shadow: 1px 1px 2px #000;
   -webkit-box-shadow: 1px 1px 2px #000;
   box-shadow: 6px 6px 2px #7D7D7D;
   background-color: #dedede;
   width:90%;
   height:auto;
   padding-bottom: 5px;
   margin-left:15px;
   margin-top:15px;
   margin-right:15px;
   margin-bottom:20px;
   border-radius:20px;
   -webkit-border-radius:20px;
   -moz-border-radius:20px;
   /*border:1px solid #AD3333;*/
   }

td.loginfo{
	font-family: verdana;
	color:#730000;
	font-size: 24;
	font-weight: bold;
	padding-top: 1px;
}
td.radinfo{
	font-family: helvetica;
	color:#1947A3;
	font-size: 28;
	font-weight: bold;
	padding-top: 12px;
}

td{
	padding : 7px;
}
td.radbut{
	padding-left: 70px;
}
div.userlogin{
	border: 1.8px #777777 solid;
	height: auto;
	width:300px;
	background: #dddddd;
	float: right;
	/*margin:auto;*/
	margin-top: 30px;
	margin-right: 1.5%; 
	padding-right: 20px;
	padding-bottom: 30px;
	padding-left: 25px;
	padding-right: 35px;
	padding-top: 7px;
	margin-left: 30px;
	margin-right: 35px;
}
input.submit{
	width: 150px;
}
h3{
	font-family: calibre;
	font-size: 25;
	color: #1919a3;
	text-shadow :0.08em 0.08em 0.08em #1919a3;
}
p.warning{
	padding-left: 20px;
	/*margin-left: 50px;*/
	text-align: center;
	font-size: 10px;
	font-family: verdana;
	color:red;
}
.marquee{
	-webkit-marquee-direction: backwards;
-webkit-marquee-style: scroll;
-webkit-marquee-speed: fast;
-webkit-marquee-increment: small;
-webkit-marquee-repetition: infinite;
	white-space: nowrap;
	overflow-y:-webkit-marquee;

}
a.forgot{
	font-family: arial;
	font-size: 20;
	font-weight: bold;
	padding-left: 30%;
}
a.forgot:hover{
color:red;
}
table.info{
	border: 2px #777777 solid;
}