body{
	background: #FDFEFF;
}
div.pagewrapper{
	margin-top: 1%;
	margin-left: 1%;
	width: 98%;
	height: 100%;
	padding-top: 2%;
	padding-bottom: 10%;
	background: #f5f5f5;
	overflow:hidden;
}
div.header{
	height: 50px;
	width:100%;
	background: #eeeeee;
	padding-top: 15px;
}
div.pageheader{
	border: 3px #A58C8C solid;
	position: relative;
	margin-left: 10%;
	padding: 0.8%;
	width: 80%;
	float: center;
	background: rgba(0,191,255,0.6);;
}
div.notifcontainer{
	padding-left: 30px;
	padding-top: 10px;
}

      h5.name_ntc
  {
   float:left; 
   font-family:anton; 
   text-align:left;
   padding:10px;
   margin:0px;
   padding-bottom:1px;
   color:#092256; 
   text-shadow: 0.1em 0.1em #333;
   }
  p.p_ntc
  {
   color:#020014;
   font-family: cursive;
   padding:5px;
   margin-left:15px;
   text-align:left;
  }
  div.block_public
  {
   
   -moz-box-shadow: 3px 3px 4px #000;
   -webkit-box-shadow: 3px 3px 4px #000;
   box-shadow: 10px 10px 4px #7D7D7D;
   background-color:#8DE28D;
   width:50%;
   height:auto;
   min-height:110px;
   margin-left:15px;
   margin-top:15px;
   margin-right:15px;
   margin-bottom:20px;
   border-radius:20px;
   -webkit-border-radius:20px;
   -moz-border-radius:20px;
 /*  border:2px solid blue;*/
   }

td.loginfo{
	font-size: 22;
	font-weight: bold;
	padding-top: 1px;
}
td{
	padding : 7px;
}
td.radbut{
	padding-left: 70px;
}
div.userlogin{
	border: 3px #bbbbbb solid;
	height: 400px;
	width:300px;
	background: #dddddd;
	float: right;
	/*margin:auto;*/
	margin-top: 35px;
	margin-right: 1.5%; 
	padding-right: 30px;
	padding-bottom: 30px;
	padding-left: 40px;
	padding-right: 45px;
	padding-top: 10px;
	margin-left: 50px;
	margin-right: 50px;
}
input.submit{
	width: 150px;
}
h3{
	font-family: calibre;
	font-size: 25;
	color: #1919a3;
	text-shadow :0.08em 0.08em 0.08em #1919a3;
}
p.warning{
	padding-left: 20px;
	margin-left: 20px;
	font-size: 10px;
	font-family: verdana;
	color:red;
}